<!DOCTYPE html>
<html>
    <head>
        <title>Movie Detail</title>
        <style>
            h1{
                background-color: black;
                color : white;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Movie Collection</h1>
        <div class='cotainer'>
            <div class="row">
                <div class="col">
                    <% for(var i=0; i<movie.length; i++){ %>
                        <a href="/moviedetail/<%= movie[i].name %>"><%= movie[i].name %></a><br>
                    <% } %> 
                </div>
            </div>
        </div>
    </body>
</html>